/*********************
Hero Image STYLES
*********************/

.hero-section {

	@include hero-img(400px);

	.hero-text {
		@include hero-text();
	}
}

.photo-credit {
	font-size: 1rem;
	color: $hex-secondary;
	position: absolute;
	bottom: 10%;
}